*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background:#E9EBEE;
}

.main-container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 4, 252);
    font-size: 60px;
    margin: 15px;
}

.form-container{
    background: rgb(255, 255, 255);
    text-align: center;
    width: 450px;
    margin: auto;
    border-radius: 13px;
    border: 1px solid #E9EBEE;
    box-shadow: 3px 3px 3px 3px #eaeaea;
}
.intro{
    text-align: center;
    margin: -10px;
}

.intro span{
    font-size: 13px;
    font-weight: lighter;
    color: rgb(95, 94, 93);
}

.first-name{
    display: flex;
    width:55px;
    height: 40px;
    padding: 10px 10px 10px 22px;
}

.first-name input{
    margin-left: 12px;
    border-radius: 7px;
    border: 1px solid rgb(207, 202, 202);
}

.first-name ::placeholder{
    padding-left: 10px;
    color:  rgb(154, 147, 147);
}


.email-password{
   display:block;
   padding-left: 0px;

}


.email-password input{
    width: 377px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(207, 202, 202);
    margin: 5px;

}


.email-password ::placeholder{
    padding-left: 10px;
    color:  rgb(154, 147, 147);
}


.birth p{
    margin-top: 5px;
    text-align:left ;
    padding-left: 38px;
    font-size: 12px;
    color:  rgb(107, 103, 103);
}

#month{
    height: 40px;
    width: 124px;
    border-radius: 5px;
    border: 1px solid rgb(207, 202, 202);
}


.gender-group p{
    margin-top: 8px;
    text-align:left ;
    padding-left: 38px;
    padding-bottom: 9px;

    font-size: 12px;
    color:  rgb(107, 103, 103);
}

.gender-group span{
    height: 20px;
    padding: 10px 10px 10px 40px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(207, 202, 202);
    margin: 2px;
}

.concept{
    font-size: 10px;
    color: rgb(95, 94, 93); 
    text-align: left;   
    margin: 25px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 13px;
}

.concept a{
    text-decoration: none;
    color: rgb(113, 113, 201);
}


button{
    background-color: rgb(42, 181, 35);
    width: 202px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid rgb(207, 202, 202);
    padding: 5px;
    
    
}


.label1{
    color: #fff;
    font-weight: bolder;
    font-size: 17px;

}


button:hover{
    background: rgb(31, 167, 24);
    border: 1px solid rgb(158, 209, 213);
}

.buttonlink {
    margin: 35px;
    text-decoration: none;
    color: rgb(54, 54, 188);
}


.foot-container {
    background-color: #fff;
    width: cover;
    text-align: center;
    padding-bottom: 26px;

}

.foot-container a{
    background-color: #fff;
    text-decoration: none;
    margin-left: 10px;

}


.footer-link1{
    font-size: 12px;
    color: rgb(54, 54, 188); 
    text-align: left;   
    margin-left: 150px;
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 35px;
    padding-bottom: 0px;
    margin-bottom: 13px;
}

.fline{
    width: 1020px;
    margin-left: 160px;


}

.footer-link2{
    font-size: 12px;
    color: rgb(54, 54, 188); 
    text-align: left;   
    margin-left: 150px;
    padding-bottom: 0px;
}


.footer a{
    text-decoration: none;

}